{% extends 'matrimonal/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <a href="{% url 'matrimonal:new_Profile' %}" class="btn btn-warning">Add Profile</a>
    <hr>

    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-4">
            <div class="card">
                {% if profile.profile_pic %}
                    <img class="card-img-top" src="{{ profile.profile_pic.url }}" alt="Profile picture" width="300" height="400">
                {% else %}
                    <img class="card-img-top" src="{% static 'matrimonal/media/fida.jfif' %}" alt="Default profile picture" width="300" height="400">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ profile.name }}</h5>
                    <a href="{% url 'matrimonal:Profile_Detail' profile.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
            <p></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}